<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_warehouses_warehouses.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("contact_name") %>
                <th>
                    <%= t('.contact_address') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("short_name") %>
                <th>
                    <%= t('.short_name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_warehouses_warehouses.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @warehouses.each do |warehouse| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: warehouse.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to warehouse.name, erp_warehouses.edit_backend_warehouse_path(warehouse) %></td>
                <% end %>
                <% if get_columns(params).include?("contact_name") %>
                    <td><%= link_to warehouse.contact_name %></td>
                <% end %>
                <% if get_columns(params).include?("short_name") %>
                    <td><%= warehouse.short_name %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <td>
                        <% if warehouse.archived == true %>
                            <span class="label label-sm label-danger"><%= t('archived') %></span>
                        <% else %>
                            <span class="label label-sm label-success"><%= t('active') %></span>
                        <% end %> 
                    </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: warehouse.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= warehouse.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_warehouses.edit_backend_warehouse_path(warehouse)
                            },
                            {
                                text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
                                url: erp_warehouses.archive_backend_warehouses_path(id: warehouse.id),
                                data_method: 'PUT',
                                hide: warehouse.archived,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-eye"></i> '+t('unarchive'),
                                url: erp_warehouses.unarchive_backend_warehouses_path(id: warehouse.id),
                                data_method: 'PUT',
                                hide: !warehouse.archived,
                                class: 'ajax-link'
                            },
                            { divider: true },
                            {
                              text: '<i class="fa fa-trash"></i> '+t('.delete'),
                              href: erp_warehouses.backend_warehouse_path(warehouse),
                              data_method: 'DELETE',
                              data_confirm: t('delete_confirm'),
                              class: 'ajax-link'
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="6"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
    
<%= erp_datalist_pagination(@warehouses) %>
